[submodule "vendor/flutter_plugins"]
	path = vendor/flutter_plugins
	url = https://github.com/perlatus/flutter_plugins.git
[submodule "vendor/zoomable_image"]
	path = vendor/zoomable_image
	url = https://github.com/perlatus/flutter_zoomable_image.git
[submodule "vendor/flutter_cache_manager"]
	path = vendor/flutter_cache_manager
	url = https://github.com/perlatus/flutter_cache_manager.git
[submodule "vendor/flutter_cached_network_image"]
	path = vendor/flutter_cached_network_image
	url = https://github.com/perlatus/flutter_cached_network_image.git
