name: e1547
description: A mobile app for e621+e926.
version: 10.1.3+59
publish_to: none

environment:
  sdk: '>=2.17.0 <3.0.0'

dependencies:

  # widgets
  local_auth: ^2.0.2
  expandable: ^5.0.1
  like_button: ^2.0.4
  photo_view: ^0.14.0
  grouped_list: ^5.1.2
  video_player: ^2.4.5
  sliver_tools: ^0.2.7
  overflow_view: ^0.3.1
  sliding_sheet: ^0.5.0
  decorated_icon: ^1.2.0
  pull_to_refresh: ^2.0.0
  flutter_typeahead: ^4.0.0
  flutter_custom_tabs: ^1.0.4
  flutter_screen_lock: ^7.0.2
  cached_network_image: ^3.2.1
  font_awesome_flutter: ^10.1.0
  flutter_cache_manager: ^3.3.0
  flutter_staggered_grid_view: ^0.4.1 # 5.x.x-6.x.x is breaking

  # data
  dio: ^4.0.6
  path: ^1.8.1
  share: ^2.0.1
  async: ^2.9.0
  intl: ^0.17.0
  mutex: ^3.0.0
  crypto: ^3.0.1
  talker: ^1.0.0+1
  filesize: ^2.0.1
  sqflite: ^2.0.2+1
  app_links: ^3.0.2
  wakelock: ^0.6.1+2
  collection: ^1.15.0
  url_launcher: ^6.1.3
  relative_time: ^1.1.0
  media_scanner: ^2.1.0
  store_checker: ^1.0.0
  external_path: ^1.0.1
  path_provider: ^2.0.11
  dio_http_cache: ^0.3.0
  path_to_regexp: ^0.4.0
  package_info_plus: ^1.4.2
  freezed_annotation: ^2.0.3
  permission_handler: ^9.2.0
  sqflite_common_ffi: ^2.1.0
  shared_preferences: ^2.0.11
  image_gallery_saver: ^1.7.1

  infinite_scroll_pagination:
    git: https://github.com/clragon/infinite_scroll_pagination.git
  username_generator:
    git: https://github.com/clragon/username_generator.git

  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^2.0.1
  flutter_launcher_icons: ^0.9.0
  flutter_native_splash: ^2.2.2

  # dart run build_runner build
  build_runner: ^2.1.11
  freezed: ^2.0.3+1

dependency_overrides:
  json_serializable: ^6.2.0
  json_annotation: ^4.5.0

flutter:
  uses-material-design: true
  assets:
    - assets/icon/round.png

# flutter pub run flutter_launcher_icons:main
flutter_icons:
  ios: true
  android: true
  remove_alpha_ios: true
  adaptive_icon_background: "assets/icon/app/background.png"
  adaptive_icon_foreground: "assets/icon/app/foreground.png"
  image_path: "assets/icon/app/icon.png"

# flutter pub run flutter_native_splash:create
flutter_native_splash:
  color: "000000"
  image: "assets/icon/app/round.png"