name: e1547
description: A mobile app for e621+e926.
version: 15.4.2+77
publish_to: none

environment:
  sdk: '>=2.17.0 <3.0.0'
  flutter: '>=3.7.0 <4.0.0'

dependencies:

  # widgets
  animations: ^2.0.7
  cached_network_image: ^3.2.3
  video_player: ^2.6.0
  expandable: ^5.0.1
  flutter_cache_manager: ^3.3.0
  flutter_custom_tabs: ^1.0.4
  flutter_screen_lock: ^9.0.1
  flutter_sub: ^1.0.1
  flutter_sub_provider: ^0.3.0
  flutter_staggered_grid_view: ^0.6.2
  flutter_typeahead: ^4.3.7
  font_awesome_flutter: ^10.1.0
  grouped_list: ^5.1.2
  infinite_scroll_pagination: ^4.0.0-dev.1
  keyboard_dismisser: ^3.0.0
  like_button: ^2.0.4
  local_auth: ^2.1.5
  overflow_view: ^0.3.1
  photo_view: ^0.14.0
  provider: ^6.0.4
  pull_to_refresh: ^2.0.0
  sliding_sheet: ^0.5.0
  sliver_tools: ^0.2.9
  webview_flutter: ^4.0.5

  # data
  app_links: ^3.3.0
  async: ^2.9.0
  collection: ^1.16.0
  crypto: ^3.0.1
  dio: ^5.0.1
  dio_cache_interceptor: ^3.4.0
  dio_cache_interceptor_db_store: ^5.1.0
  drift: ^2.3.0
  external_path: ^1.0.1
  filesize: ^2.0.1
  freezed_annotation: ^2.0.3
  image_gallery_saver: ^1.7.1
  intl: ^0.17.0
  json_annotation: ^4.6.0
  loggy: ^2.0.3
  flutter_loggy: ^2.0.2
  flutter_loggy_dio: ^3.0.1
  mime: ^1.0.2
  mutex: ^3.0.1
  notified_preferences: ^2.0.0
  package_info_plus: ^3.0.3
  path: ^1.8.1
  path_provider: ^2.0.13
  path_to_regexp: ^0.4.0
  permission_handler: ^10.0.0
  pub_semver: ^2.1.3
  relative_time: ^3.0.0
  share_plus: ^6.3.1
  shared_storage: ^0.7.0
  sqlite3_flutter_libs: ^0.5.13
  store_checker: ^1.1.0
  url_launcher: ^6.1.10
  wakelock: ^0.6.1+2
  webview_cookie_manager: ^2.0.6
  window_manager: ^0.3.1

  username_generator:
    git: https://github.com/clragon/username_generator.git

  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

dependency_overrides:
  infinite_scroll_pagination:
    git:
      url: https://github.com/clragon/infinite_scroll_pagination.git
      ref: 44f3eb

dev_dependencies:
  flutter_lints: ^2.0.1
  flutter_launcher_icons: ^0.13.0
  flutter_native_splash: ^2.2.16

  # dart run build_runner build
  build_runner: ^2.1.11
  drift_dev: ^2.0.1
  freezed: ^2.0.3+1
  json_serializable: ^6.3.1

flutter:
  uses-material-design: true
  assets:
    - assets/icon/app/round.png

# flutter pub run flutter_launcher_icons:main
flutter_icons:
  ios: true
  android: true
  remove_alpha_ios: true
  adaptive_icon_background: "assets/icon/app/background.png"
  adaptive_icon_foreground: "assets/icon/app/foreground.png"
  image_path: "assets/icon/app/icon.png"
  windows:
    generate: false
    image_path: "assets/icon/app/round.png"
    icon_size: 256

# flutter pub run flutter_native_splash:create
flutter_native_splash:
  color: "000000"
  image: "assets/icon/app/round.png"

cider:
  link_template:
    tag: https://github.com/clragon/e1547/releases/tag/%tag%
    diff: https://github.com/clragon/e1547/compare/%from%...%to%